.text-color {
  color: black;
}

.container {
  width: 400px;
  margin: 0 auto;
}

.todo-items {
  padding: 15px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
}

:host ::ng-deep .mat-list-item-content {
  display: flex;
  justify-content: space-between;
}

.theme-button ::ng-deep.mat-figure{
  left: calc((57% - 0.5px + 1px) * 1);
  width: calc((50% - 0.5px) * 1 + 0px);
  margin-top: 0px;
  padding-top: calc((25% - 0.5px) * 1 + 0px);
}

// :host ::ng-deep .mat-grid-tile {
//   left: calc((57% - 0.5px + 1px) * 1);
//   width: calc((50% - 0.5px) * 1 + 0px);
//   margin-top: 0px;
//   padding-top: calc((25% - 0.5px) * 1 + 0px);
// }

.todo-input {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-bottom: 2px solid red;
}

.todo-heading {
  display: flex;
  justify-content: space-between;
}
